@{
    ViewBag.Title = "Contact";
}
<div id="bunch_contactform-2" class="col-lg-3 col-sm-6 col-xs-12 column mb-xs-50 widget_bunch_contactform">
    <div class="footer-widget">
        <div class="footer-widget contact-widget">
            <h2>Contact Form</h2>
            <div role="form" class="wpcf7" id="wpcf7-f235-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="~/Content/Home/wp/FreeGrabs/#wpcf7-f235-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="235" />
                        <input type="hidden" name="_wpcf7_version" value="4.5" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f235-o1" />
                        <input type="hidden" name="_wpnonce" value="bd923d6b4a" />
                    </div>
                    <div class="contact-form">
                        <span class="wpcf7-form-control-wrap text-818"><input type="text" name="text-818" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span><span class="wpcf7-form-control-wrap email-800"><input type="email" name="email-800" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span><span class="wpcf7-form-control-wrap textarea-519"><textarea name="textarea-519" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea></span><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" />
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>

    </div>
</div>