@model FreeGrab.Models.Customer


@{
    ViewBag.Title = "Update Your Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero" style="background: url(/Content/img/cugia.jpg); background-size: cover; background-position: center center">

    <div class="row  ">
        <div class="col-md-3">
            <section class="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1>Wellcome to our websites</h1><a href="#" class="hero-link">Discover More</a>
                        </div>
                    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
                </div>
            </section>
        </div>
        <div class="col-md-6 right form-group stt">
            <h1> Register Successful!</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item nav-link">@Html.ActionLink("Change Password", "ChangePassword", "AccountCustomer")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Update Profile", "UpdateProfile", "AccountCustomer")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Logout", "Logout", "AccountCustomer")</li>

            }


        </div>
        <div class="col-md-3">
            <section class="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <h1>Wellcome to our websites</h1><a href="#" class="hero-link">Discover More</a>
                        </div>
                    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
                </div>
            </section>
        </div>
    </div>

</div>



@Scripts.Render("~/Scripts/Home/Display.js")